#about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 80px 50px;
    color: var(--bg-color);
}

#about__image{
    width: 20vw;
}

#about__right{
    width: 60vw;
    padding: 20px;
    height: 100%;
}

#about__title{
    font-size: 2em;
    margin-bottom: 20px;
}

#about__description{
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1.5em;
}

