#contact{
    height: 60vh;
    width: 100vw;
    padding: 50px 0;
    background-color: var(--third-bg);
    
}

#contact_title{
    text-align: center;
    font-size: 2em;
}

#contact_container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 5% auto;
    gap: 50px;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 30vw;
    max-width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
}

button {
    background-color: var(--main-color); /* Cor do botão */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
}

.contact-info h2 {
    margin-bottom: 20px;
    font-size: 1.3em;
}


