
#header{
    position: fixed;
    width: 100vw;
    padding:30px 10%;
    border-bottom:2px solid var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    z-index: 10;
}

#logo{
    color: var(--main-color);
    font-size: 1.3em;
    transition: .3s ease-in-out;
}

#logo:hover{
    transform: scale(1.1);
}
#navbar__menu{
    display: flex;
    gap: 15px;

}

.nav__link{
    color: var(--main-color);
    position: relative;
    padding: 5px;
}

.nav__link::before,
.nav__link::after{
    content: '';
    position: absolute;
    height: 2px;
    bottom: -3px;
    width: 0;
    background-color: var(--main-color);
    transition: 0.4s ease-in-out;
}

.nav__link:hover::before,
.nav__link:hover::before{
    width: 100%;  
}

#menu__mobile{
 display: none;
}

#button__toggle{
    background-color: transparent;
    display: none;
    margin-right: -30px;
}

#button__toggle span{
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--main-color);
    margin-top: 8px;

}

#button__toggle::after,
#button__toggle::before{
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background: var(--main-color);
  margin-top: 8px;
  transition: 0.3s;
  position: relative;
}




@media(max-width:545px){

    #header{
       padding: 10px 10%;
    }

    #navbar__menu{
        display: none;
    }

    #menu__mobile.active{
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 80%;
        right: 0;
        background-color: var(--bg-color);
        width: 200px;
        padding: 20px;
       
    }

    #button__toggle{
        display: block;
    }
}
