#home{
    height:100vh;
    width: 100vw;
    max-width: 1700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px 0 100px;
    margin: 0 auto;
    
}

#home__left-content{
    line-height: 3.5em;
}

.home__title{
    color: var(--bg-color);
    font-size: 1.8em;
    font-weight: 500;

}

.home__title span{
    font-size: 2em;
}

#home__subtitle{
    color: var(--bg-color);
    font-size: 1.8em;
    font-weight: 500;
}

#home__social-media{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
}

.social__media-icon{
    color: var(--bg-color);
    display: inline-flex;
    transition: 0.3s ease;
}

.social__media-icon:hover{
    transform: rotate(200deg);
}

.social__media-icon i{
    font-size:2.5rem;
}

#contact-btn{
    color: var(--bg-color);
    background-color: var(--main-color);
    font-weight: bold;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    height: 50px;
    width: 180px;
    border: 2px solid var(--bg-color);
    margin-left: 40px;
    border-radius: 5px;
    transition: .3s ease-in-out;
    
}

#contact-btn:hover{
 transform: scale(1.1);
}

#scroll__down{
    position: absolute;
    bottom: 10%;
    left: 45%;
    font-size: 1.2em;
    color: var(--main-color);
}

#arrow__down{
    animation:down 2s ease-in-out infinite;
}

@keyframes down{
    from{
        transform: translateY(-5px);
        opacity: 0;
    }to{
        transform: translateY(0);
    }
}



#home__image{
    width: 35vw;
    max-width: 500px;
    animation: floating 5s ease-in-out infinite;
}

@keyframes floating {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}