#skills{
    display: flex;
    flex-direction: column;
    width: 100vw;
    text-align: center;
    
}

#skills__title{
    margin-top: 50px;
    font-size: 2em;
}

#skills__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
    margin: 50px auto;
    padding: 100px;
    gap: 30px;
}

.container__item{
    width: 120px;
    min-width: 120px;
    height: 120px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--bg-color);
    border-bottom: 4px solid var(--bg-color);
    border-radius: 0 20px 0 0;
    border: 2px solid var(--bg-color);
    border-bottom: 4px solid;
    background-color:var(--main-color);
    transition: .3s ease;
}

.container__item:hover{
    margin-top: -8px;
}

.container__item svg{
    width: 50px;
}

@media(max-width:576px){
    #skills__container{
        width: 100vw;
        padding:10px;
    }
}